<div class="terms">
    <ul class="list-group">
        <li ng-repeat="sub in terms" class="list-group-item"><h3 class="list-group-item-heading">
            {{sub.subject_name}}</h3>
            <ul class="list-unstyled">
                <li ng-repeat="termType in sub.terms_aggregated"><h4>{{termType.term_type}}</h4>
                    <table class="table">
                        <tr ng-repeat="term in termType.terms">
                            <td>{{term.day}} {{term.time_from}}-{{term.time_to}}</td>
                            <td><select
                                    ng-init="termSubscriptions[term.id].points=term.points"
                                    ng-model="termSubscriptions[term.id].points"
                                    ng-options="x as label(x) for x in options" title="Points">
                                required="required"
                            </select>
                            </td>
                            <td>
                                <label ng-style="{'visibility': termSubscriptions[term.id].points == -1?'visible':'hidden'}">
                                    Reason:
                                    <input type="text" name="reason"
                                           ng-init="termSubscriptions[term.id].reason=term.reason"
                                           ng-model="termSubscriptions[term.id].reason"/>
                                </label>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </li>
    </ul>
    <a class="btn btn-primary" ng-click="save()">Save</a>
</div>
<div id="resultModal" class="modal fade" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="alert" ng-class="{'alert-success': success, 'alert-danger': !success }">{{message}}
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>
